<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sensorización movimientos UCI</h2>
    <label for="selector-ejercicio">Ejercicio</label>
    <select id="selector-ejercicio">
        <option value="">Codo al hombro izquierdo</option>
        <option value="">Codo al hombro derecho</option>
        <option value="">Brazo izquierdo al techo</option>
        <option value="">Brazo derecho al techo</option>
        <option value="">Pie izquierdo hacia la rodilla</option>
        <option value="">Pie derecho hacia la rodilla</option>
        <option value="">Levantamiento de pierna izquierda</option>
        <option value="">Levantamiento de pierna derecha</option>
    </select>
    <br>
    <div style="display:flex; flex-direction:row">
        <div>
            <label for="reps-input">Número de repeticiones</label>
            <input type="number" id="reps-input">
        </div>
        <div>
            <label for="series-input">Número de series</label>
            <input type="number" id="series-input">
        </div>
        <div>
            <label for="descanso-input">Descanso (segundos)</label>
            <input type="number" id="descanso-input">
        </div>
    </div>

    <div style="display:flex; flex-direction:row">
        <div>
            <label for="max-angle-input">Ángulo superior</label>
            <input type="number" id="max-angle-input">
        </div>
        <div>
            <label for="min-angle-input">Ángulo inferior</label>
            <input type="number" id="min-angle-input">
        </div>
    </div>

   <br>

   <button type="button" id="add-exercise">Añadir ejercicio</button>

   <p>
        Esto fue un intento de hacer la web con HTML. Pero no puedo ponerle la propiedad "n_clicks" a los botones, y sobre todo, no puedo poner dcc.Interval.
        Al menos me ha servido el intento para justificar el usar dash para todo, tanto para el diseño de la web como para la interactividad.
        La razón principal es la compatibilidad. El uso de callbacks está pensado para web diseñadas también con dash creo yo.
    </p>
    
</body>
</html>